<launch>
    <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_backhazcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_fronthazcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_mastcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_navcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>

	<include file="$(find rtabmap_ros)/launch/stereo_mapping.launch">
		<arg name="stereo_namespace" value="/curiosity_mars_rover/camera_backhazcam"/>
		<arg name="rtabmap_args" value="--delete_db_on_start" />
		<arg name="rviz" value="false" />
		<arg name="rtabmapviz" value="false" />
		<arg name="approx_sync" value="true" />


    </include>

</launch>