<launch>
    <arg name="fake_depth_cameras" default="false" />

    <include file="$(find curiosity_mars_rover_navigation)/launch/include/lasers.launch" >
        <arg name="fake_depth_cameras" value="$(arg fake_depth_cameras)"/>
    </include>

     <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />
        <remap from="scan" to="/curiosity_mars_rover/camera_backhazcam/scan" unless="$(arg fake_depth_cameras)" />
        <remap from="scan" to="/curiosity_mars_rover/camera_navcam/scan" if="$(arg fake_depth_cameras)" />
    </node>
</launch>
