<launch>
    <arg name="fake_depth_cameras" default="false" />
    
    <group unless="$(arg fake_depth_cameras)">
        <node name="stereo_image_proc_back_hazcam" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_backhazcam/" >
            <param name="queue_size" value="2000" />
            <param name="approximate_sync" value="True" />
        </node>
        <node name="pointcloud_to_laserscan_back_hazcam" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen" ns="/curiosity_mars_rover/camera_backhazcam/">
            <remap from="cloud_in" to="/curiosity_mars_rover/camera_backhazcam/points2" />
            <remap from="scan" to="/curiosity_mars_rover/camera_backhazcam/scan" />
            <param name="target_frame" value="base_link" />
            <param name="min_height" value="-0.6" />
            <param name="max_height" value="5" />
            <param name="range_min" value="0.1" />
            <param name="range_max" value="20" />
            <param name="use_inf" value="true" />
        </node>

        <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
            <param name="odom_frame" value="odom" />
            <param name="base_frame" value="base_link" />
            <remap from="scan" to="/curiosity_mars_rover/camera_backhazcam/scan" />
        </node>
    </group>

    <group if="$(arg fake_depth_cameras)">
        <node name="pointcloud_to_laserscan_back_hazcam" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen" ns="/curiosity_mars_rover/camera_navcam/">
                <remap from="cloud_in" to="/curiosity_mars_rover/camera_navcam/depth/points" />
                <remap from="scan" to="/curiosity_mars_rover/camera_navcam/scan" />
                <param name="target_frame" value="base_link" />
                <param name="min_height" value="0.5" />
                <param name="max_height" value="5" />
                <param name="range_min" value="0.1" />
                <param name="range_max" value="10" />
                <param name="use_inf" value="true" />
        </node>

        <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
            <param name="odom_frame" value="odom" />
            <param name="base_frame" value="base_link" />
            <remap from="scan" to="/curiosity_mars_rover/camera_navcam/scan" />
        </node>
    </group>
</launch>