<launch>
    <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_backhazcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
    <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen" ns="/curiosity_mars_rover/camera_backhazcam/">
        <remap from="cloud_in" to="/curiosity_mars_rover/camera_backhazcam/points2" />
        <remap from="scan" to="/curiosity_mars_rover/camera_backhazcam/scan" />
        <param name="target_frame" value="base_link" />
        <param name="min_height" value="-0.5" />
        <param name="max_height" value="10" />
        <param name="range_min" value="0.1" />
        <param name="range_max" value="8" /> 
    </node>

	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_fronthazcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_mastcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>
	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="/curiosity_mars_rover/camera_navcam/" >
		<param name="queue_size" value="2000" />
		<param name="approximate_sync" value="True" />
	</node>

    <!-- Arguments -->
    <arg name="map_file" default="$(find curiosity_mars_rover_navigation)/maps/curio_shapes_map.yaml"/>
    <arg name="open_rviz" default="true"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <arg name="initial_pose_x" default="0.0" /> 
    <arg name="initial_pose_y" default="0.0" /> 
    <arg name="initial_pose_a" default="0.0" />

    <!-- Run ACML -->
    <node name="amcl" pkg="amcl" type="amcl"
        respawn="false" output="screen">
        <remap from="scan" to="/curiosity_mars_rover/camera_backhazcam/scan" />
        <param name="transform_tolerance" value="0.5" />
        <param name="odom_model_type" value="diff" />
        <param name="odom_frame_id" value="odom" />
        <param name="base_frame_id" value="base_link" />
        <param name="global_frame_id" value="map" />
        <param name="tf_broadcast" value="true" />
    </node>

    <!-- move_base -->
    <node pkg="move_base" type="move_base" name="move_base"
        respawn="false" output="screen">
        <rosparam file="$(find curiosity_mars_rover_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find curiosity_mars_rover_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find curiosity_mars_rover_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find curiosity_mars_rover_navigation)/config/global_costmap_params_map.yaml" command="load" /> 
        <rosparam file="$(find curiosity_mars_rover_navigation)/config/base_local_planner_params.yaml" command="load" />
        <remap from="cmd_vel" to="/ackermann_drive_controller/cmd_vel"/>
    </node>


</launch>
