<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find curiosity_mars_rover_gazebo)/launch/main_mars_terrain.launch">
        <arg name="fake_depth_cameras" value="false" />
        <arg name="fake_marsviz_gps" value="true" />
	</include>
    <include file="$(find curiosity_mars_rover_viz)/launch/marsviz.launch"/>
</launch>
