<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="fake_depth_cameras" default="false" />
	<include file="$(find curiosity_mars_rover_gazebo)/launch/main_simple.launch">
        <arg name="fake_depth_cameras" value="$(arg fake_depth_cameras)" />
		<arg name="world" value="$(find curiosity_mars_rover_gazebo)/worlds/mars_terrain.world"/>
	</include>
</launch>
