<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Node works with or without laser scans from nav package -->
    <node name="curiosity_rover_teleop_keyboard_mast_node"
        pkg="curiosity_mars_rover_control"
        type="teleop_keyboard_obstacles.py"
        respawn="false"
        output="screen"
        args="" /> 
</launch>
